---
layout: map
title: Team
permalink: /team/
---
{% assign team = site.data.team.team %}
{% assign locations = site.data.team.locations %}
<h1>{{page.title}}</h1>
<style>
    #map {min-height: 300px; height: auto;}
</style>
<div id="map" class="blog-posting"></div>
<section class="team container">
  <p>What started as a small team in Washington, DC has grown to a team of {{ team.size }} eager technologists in {{ locations.size }} cities. Many of our staff work out of our offices in Washington, San Francisco, and Chicago.
  </p>
{% for l in locations %}
<section id="{{l[0] }}" class="team container">
  {% assign city = l[1].city %}
  {% for resident in team %}
    {% capture empty %}
      {% if forloop.index0 == 0 %}
        {% unless resident.hidden %}
          1
        {% endunless %}
      {% else %}
        0
      {% endif %}
    {% endcapture %}
  {% endfor %}
  {% unless empty == 1 %}
    <h2>{{ city }} | {{ l[0] }}</h2>
    {% for person in team %}
      {% if person.location == l[0] %}
      {% unless person.hidden or person.pif %}
        <div class="bio" id="{{person.name}}">
          <a><img class="img-circle team-img bio-clip" src="/assets/images/team/{{person.name}}.jpg" alt="Photo of {{person.full_name}}" />
          <h1>{{ person.full_name}}</h1></a>
        </div>
      {% endunless %}
      {% endif %}
    {% endfor %}
  {% endunless %}
</section>
{% endfor %}

      <a href="#map">back to the map</a>
  </section><br/>
<section class="blog-pagination">
  <a href="/">Home</a>
</section>
<aside class="blog-follow-us">
  <h1>Follow us here:</h1>
  <ul>
    <li><i class="icon-twitter"></i> <a href="https://twitter.com/18f">Twitter @18F</a></li>
    <li><i class="icon-github2"></i> <a href="https://github.com/18f">GitHub / 18F</a></li>
  </ul>
</aside>
<script>
  var map = L.map(
    'map',
    {
      scrollWheelZoom: false,
      zoom: 4,
      center: [39.828, -98.579]
    }
  );
  L.tileLayer('http://{s}.tiles.mapbox.com/v3/examples.map-i875mjb7/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    scrollWheelZoom: false,
  }).addTo(map);
</script>
